
@{
    ViewData["Title"] = "CheckoutComplete";
}

    <div class="container body-content">
        <br />
        <h1 class="text-info">@ViewBag.chekcoutCompleteMessage</h1>
        <br />
        <div class="form-group">
            <a asp-action="Index" asp-controller="Home" class="btn btn-success"><i class="fa fa-chevron-right"></i> Continue Shopping</a>
        </div>
        <br />
    </div>