@model GraniteHouse.Models.ViewModel.ProductTypesViewModel
@using GraniteHouse.Extensions
@{
    ViewData["Title"] = "Edit";
}




<form method="post" asp-action="Edit">
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h2 class="text-info">Edit Product Type</h2>
            </div>
            <div class="p-4 rounded">
                <input type="hidden" asp-for="ProductTypes.Id" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="ProductTypes.Name"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="ProductTypes.Name" class="form-control" />
                    </div>
                    <span asp-validation-for="ProductTypes.Name" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Categories"></label>
                    </div>
                    <div class="col-5">
                        <select asp-for="@Model.ProductTypes.CategoryId" asp-items="Model.Categories.ToSelectListItem(Model.ProductTypes.CategoryId)" class="form-control"></select>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Update" />
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

